.view_all_surh ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
 
.view_all_surh ul li {
    list-style: none;
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 0 0 10px 0;
    margin:0 0 15px 0;
}

.view_all_surh ul li audio {
    width: 50%;
    float:right;
    margin:1px 0 0 0;
}

.view_all_surh ul li p {
    float:left;
}

.view_all_surh ul li img {
    float:left;
    margin:0 5px 0 0;
}

.view_all_surh ul li a {
    text-decoration: none;
    color: #616161;
    padding: 0 0;
}

.view_all_surh .icons { text-align:center; margin:0 0 15px 0; }
.view_all_surh .icons img { /*width:48px;*/ height:35px; }

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 959px) and (max-width: 1200px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.view_all_surh ul li { float: none; border-bottom: 1px solid #ccc; padding: 0 0 10px 0; }
	.view_all_surh ul li audio { width: 100%; float:none; margin:5px 0 10px 0; }
	.view_all_surh ul li p { float:none; }
	.view_all_surh .icons img { width:48px; height:48px; }
}

/* rules for iPad in landscape orientation */
@media only screen and (device-width: 768px) and (orientation: landscape) {
	.view_all_surh ul li { float: none; border-bottom: 1px solid #ccc; padding: 0 0 10px 0; }
	.view_all_surh ul li audio { width: 100%; float:none; margin:5px 0 10px 0; }
	.view_all_surh ul li p { float:none; }
	.view_all_surh .icons img { width:48px; height:48px; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.view_all_surh ul li { float: none; border-bottom: 1px solid #ccc; padding: 0 0 10px 0; }
	.view_all_surh ul li audio { width: 100%; float:none; margin:5px 0 10px 0; }
	.view_all_surh ul li p { float:none; }
	.view_all_surh .icons img { width:32px; height:32px; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.view_all_surh ul li { float: none; border-bottom: 1px solid #ccc; padding: 0 0 10px 0; }
	.view_all_surh ul li audio { width: 100%; float:none; margin:5px 0 10px 0; }
	.view_all_surh ul li p { float:none; }
	.view_all_surh .icons img { width:32px; height:32px; }
}

@media only screen and (min-width: 240px) and (max-width: 320px) {
	.view_all_surh ul li { float: none; border-bottom: 1px solid #ccc; padding: 0 0 10px 0; }
	.view_all_surh ul li audio { width: 100%; float:none; margin:5px 0 10px 0; }
	.view_all_surh ul li p { float:none; }
	.view_all_surh .icons img { width:22px; height:22px; }
}

@media only screen and (max-width: 240px) {
	.view_all_surh ul li { float: none; border-bottom: 1px solid #ccc; padding: 0 0 10px 0; }
	.view_all_surh ul li audio { width: 100%; float:none; margin:5px 0 10px 0; }
	.view_all_surh ul li p { float:none; }
	.view_all_surh .icons img { width:20px; height:20px; }
}
